---
title: Posts
layout: page
permalink: /posts # permalink must be specified because this file is not in the root
---

<div class="js-PostSearch" id="js-PostSearch">
  <input class="search form-control" placeholder="Search for posts" />

  <ul class="list list-group my-3">
    {% for post in site.posts %}
      <li class="list-group-item">
        <h4 class="js-PostSearch-title">
          <a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
        </h4>
        <div class="js-PostSearch-tags">
          {% include post_tags.html %}
        </div>
      </li>
    {% endfor %}
  </ul>
</div>
