---
title: Tags
layout: page
permalink: /tags # permalink must be specified because this file is not in the root
---

{% comment %}
Sort by name
- Create an empty array.
- Obtain a tag name and push it to the array.
- Sort the array (by tag names).
{% endcomment %}

{% assign sorted_by_name = "" | split: "|" %}

{% for posts_by_tag in site.tags %}
  {% assign sorted_by_name = sorted_by_name | push: posts_by_tag.first %}
{% endfor %}

{% assign sorted_by_name = sorted_by_name | sort %}

{% include tag_cloud.html %}

<section>
  {% for tag_name in sorted_by_name %}
    <div id="{{ tag_name }}">
      <!-- This is a workaround to allow space for the sticy nav. -->
      <div style="padding: 30px 0">
        <hr>
      </div>
      <h3>{{ tag_name | upcase | replace: "_", " " }}</h3>
      <ul class="list-group">
        {% for post in site.tags[tag_name] %}
          <li class="list-group-item">
            <a href="{{ post.url | absolute_url }}">{{ post.title }}</a>
          </li>
        {% endfor %}
      </ul>
    </div>
  {% endfor %}
</section>
