---
title: Home
layout: application
---

<div class="card" style="max-width:402px;overflow: hidden">
  <div style="overflow-x:auto">
    {% include masa_chinatown.html %}
  </div>
  <div class="card-body">
    <p class="lead">
      I am passionate about building maintainable apps using primarily Ruby, Rails, Javascript and React. Also I know and
      enjoy:
      <div class="mn-Slideshow">
        <div class="mn-Slideshow-mover">
          {% assign n = site.static_files | size %}
          {% assign shuffled_static_files = site.static_files | sample: n %}

          {% for icon_name in site.data.i_enjoy_icons %}
            <div class="mn-Slideshow-icon"
              title="{{ icon_name }}">
              {% svg "assets/images/brands/{{ icon_name }}.svg" %}
            </div>
          {% endfor %}
        </div>
      </div>
    </p>
  </div>
  <div style="overflow-x:auto">
    <a href="https://twitter.com/danmactough/status/756272997057564673">
      <img src="{% link assets/images/masa-talk.jpg %}" alt="Masa at NodeDC Lightning talks" style="width:360px;height:160px">
    </a>
  </div>
  <div style="overflow-x:auto">
    <a href="https://www.certmetrics.com/amazon/public/badge.aspx?i=9&t=c&d=2020-01-03&ci=AWS01001895&dm=80">
      <img src="{% link assets/images/aws-certified-logo_color-horz_360x60.jpg %}" alt="" style="width:360px;height:60px">
    </a>
  </div>
</div>
