<header class="mn-AppHeader">
  <div class="container mn-AppHeader-container">
    <div class="mn-AppHeader-title">
      {{ site.title }}
    </div>
  </div>
</header>

<nav class="mn-AppHeaderNav">
  <div class="container d-flex">
    {% for nav_link in site.data.nav_links %}
    <a class="mn-AppHeaderNav-navLink {% if nav_link.href == page.url %} mn-AppHeaderNav-navLink--active {% endif %}"
      href="{{ nav_link.href }}">
      {% svg "{{ nav_link.svg_path }}" %}
    </a>
    {% endfor %}
  </div>
</nav>
