<header class="m-0 mn-AppHeader">
  <div class="pt-3 pb-2 container">
    <div class="mn-AppHeader-title">
      Masatoshi Nishiguchi
    </div>
    <div class="mn-AppHeader-subtitle">
      Software Engineer
    </div>
  </div>
</header>

<nav class="mn-AppHeaderNav">
  <div class="container d-flex">
    {% for nav_link in site.data.nav_links %}
    <a {% if nav_link.href == page.url %} aria-current="page" {% endif %} href="{{ nav_link.href }}"
      class="mn-AppHeaderNav-navLink">
      {% svg "{{ nav_link.svg_path }}" %}
    </a>
    {% endfor %}
    <div class="flex-grow-1"></div>
    <div data-controller="page-scroll" class="mn-AppHeaderNav-navLink">
      <div data-target="page-scroll.arrowIcon"
        data-action="click->page-scroll#scrollPage scroll@document->page-scroll#adjustArrow">
        {% svg "assets/images/vendor/fa-solid/arrow-down.svg" %}
      </div>
    </div>
  </div>
</nav>
