{% if page.previous.url or page.next.url %}
  <nav class="row mn-PostNavigation">
    {% if page.next.url %}
      <div class="col-sm-6">
        <a class="btn btn-primary" href="{{ page.next.url }}" style="height:100%">« {{ page.next.title }}</a>
      </div>
    {% endif %}

    {% if page.previous.url %}
      <div class="col-sm-6">
        <a class="btn btn-primary float-right" href="{{ page.previous.url }}" style="height:100%">{{ page.previous.title }} »</a>
      </div>
    {% endif %}
  </nav>
{% endif %}
