body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

main {
  min-height: 0vh;
}

.mn-AppHeader {
  background: $mn-blue;
  margin-bottom: 2rem;

  &-container {
    padding-top: 2rem;
    padding-bottom: .5rem;
  }

  * {
    color: white;
  }
}

.mn-AppFooter {
  background: $mn-blue;
  margin-top: 2rem;

  &-container {
    padding-top: 4rem;
    padding-bottom: 4rem;
  }

  * {
    color: white;
  }
}

.mn-PostNavigation {
  // In case elements are stacked in mobile mode.
  > * {
    margin-bottom: .5rem;
  }
}
