@import 'scss/variables';
@import '~bootstrap/scss/bootstrap.scss';
@import 'scss/highlight';
@import 'scss/svg_drawing_animation';
@import 'scss/brand_icon_slideshow';

$mn-app-header-bg: transparentize(darken($mn-blue, .3), .1);

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

main {
  min-height: 80vh;
}

// Adjustment for syntax highlighting
pre.highlight {
  // Make default text color white because the background is dark.
  color: white;
  padding: 0.5rem;

  span.s2 {
    color: white;
  }
}

// https://gomakethings.com/how-to-animate-scrolling-to-anchor-links-with-one-line-of-css/
.mn-SmoothScroll {
  scroll-behavior: smooth;

  // Disable smooth scrolling when users have prefers-reduced-motion enabled
  @media screen and (prefers-reduced-motion: reduce) {
    scroll-behavior: auto;
  }
}

.mn-AppHeader {
  background: $mn-app-header-bg;
  margin-bottom: 0;

  &-title {
    font-size: 2.5rem;
  }

  &-container {
    padding-top: 2rem;
    padding-bottom: 0;
  }

  *:not(a) {
    color: white;
  }
}

.mn-AppHeaderNav {
  background: $mn-app-header-bg;
  margin-bottom: 0;
  height: 52px;
  position: sticky;
  top: 0;
  z-index: 2;

  *:not(a) {
    color: white;
  }

  &-navLink {
    display: block;
    padding: 0.5rem 1rem;
    width: 58px;
    height: 58px;
    svg {
      width: 100%;
      height: 100%;
    }
    path {
      fill: white;
    }
    :hover path {
      fill: lighten($link-color, 50%);
    }
  }

  &-navLink--active {
    cursor: default;
    text-decoration: none;
    pointer-events: none;
    path {
      fill: lighten($link-color, 50%) !important;
    }
  }
}

.mn-AppFooter {
  background: $mn-blue;
  margin-top: 2rem;

  &-container {
    padding-top: 4rem;
    padding-bottom: 4rem;
  }

  * {
    color: white;
  }
}

.mn-PostNavigation {
  // In case elements are stacked in mobile mode.
  > * {
    margin-bottom: 0.5rem;
  }
}
