//
// Common styles
//

.mn-SvgLineDrawing {
  &-imgVisible {
    opacity: 1;
    transition: opacity 0.5s;
  }

  &-imgHidden {
    opacity: 0;
    transition: opacity 0.5s;
  }

  &-svg {
    pointer-events: none;
    position: absolute;
    max-width: 100%;
    z-index: 10;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    transition: opacity 0.5s;
    path {
      fill: none;
      stroke-width: 3;
      stroke: #aaa;
    }
  }
}


//
// Profile image animation
//

.mn-MasaChinatownWrapper {
  position: relative;
  // Secure space for the element to prevent it from collapsing when loaded.
  width: 400px;
  height: 400px;
  margin-bottom: 0;

  path {
    stroke: $mn-mint;
  }
}
