---
layout: default
comments: true
---

<article class="post">
  {% include post_header.html disable_link=true %}
  {{ content }}
</article>

{% if page.comments %}
  <aside class="comments">
    <div id="disqus_thread"></div>
    <script>
      // https://disqus.com/admin/universalcode/
      document.addEventListener("DOMContentLoaded", function () {
        var disqus_config = function () {
          this.page.url = "{{ site.url }}";  // Canonical URL
          this.page.identifier = "{{ page.url }}"; // Page unique ID
        };
        (function () { // DON'T EDIT BELOW THIS LINE
          var d = document, s = d.createElement('script');
          s.src = '//mnishiguchi.disqus.com/embed.js';
          s.setAttribute('data-timestamp', +new Date());
          (d.head || d.body).appendChild(s);
        })();
      });
    </script>
  </aside>
{% endif %}

{% if site.related_posts != empty %}
  <aside class="related">
    <h2>Related posts</h2>
    {% include related_posts.html posts=site.related_posts limit=6 %}
  </aside>
{% endif %}
